{{!
This file is part of Moodle - https://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template plugintype_pluginname/template_name

Template purpose and description.

Classes required for JS:
* none

Data attributes required for JS:
* none

Context variables required for this template:
* none

Example context (json):
{
}



}}
<div class="h1">
{{#str}}pluginname, local_plugincopy{{/str}}
</div>
<div class="h4">
{{#str}}plugindescription, local_plugincopy{{/str}}
</div>
<h2> {{#str}}configuration, local_plugincopy{{/str}}</h2>

<ul>
    <li>{{#str}}moodleversion, local_plugincopy{{/str}}: {{serverinfo.moodleversion}}</li>
    <li>{{#str}}phpversion, local_plugincopy{{/str}}: {{serverinfo.phpversion}}</li>
    <li>{{#str}}operatingsystem, local_plugincopy{{/str}}: {{serverinfo.os}}</li>
    <li>{{#str}}webserver, local_plugincopy{{/str}}: {{serverinfo.webserver}}</li>
    <li>{{#str}}database, local_plugincopy{{/str}}: {{serverinfo.database}}</li>
</ul>
<h3>
{{#str}}fileuploadsettings, local_plugincopy{{/str}}
    <a href=https://docs.moodle.org/en/File_upload_size>https://docs.moodle.org/en/File_upload_size</a>
</h3>


<ul>
    <li>{{#str}}postmaxsize, local_plugincopy{{/str}}: {{serverinfo.post_max_size}}</li>
    <li>{{#str}}uploadmaxfilesize, local_plugincopy{{/str}}: {{serverinfo.upload_max_filesize}}</li>
    <li>{{#str}}maxexecutiontime, local_plugincopy{{/str}}: {{serverinfo.max_execution_time}}</li>
</ul>

    <div class="d-grid">
        {{#plugins}}
        <div id="names" class="bg-light shadow border h5 p-1 m-0 col-sm-5">
            {{name}}
        </div>
        {{/plugins}}
    </div>
